/* TODO Add site wide styles
reference color palette for grays + red https://colorhunt.co/palette/171717444444da0037ededed */

/* header and footer
background-color: #444444 deep warm gray*/

/* body
background-color: #f1f0f0 pale gray
color: #171717 near-black */

/* button
background-color: #FFC93C gold
text should be  #444444 deep warm gray */

/* link
color: #c70032 cool red
 */

body {
    background-color: #f1f0f0;
    color: #171717;
    font-family: sans-serif;
}

button {
    background-color: #fdc12a;
    color: #444444;
    border-radius: 5px;
    border: none;
}

a {
    color: #c70032
}

.home-page-container {
    display: flex;
    flex-flow: wrap;
}

 /* small photo component (as rendered in an album view or feed */
 .feed--photo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin: 20px;
    max-width: 700px;
    max-height: 700px;
}

.feed--photo-div {
    display: flex;
    justify-content: center;
    width: 500px;
    height: 500px;
}

.feed--photo {
    width: auto;
    height: 100%
}

/* sidebar of tags, for home page and photo page*/
.tag-sidebar {
    background-color: white;
    width: 200px; /* maybe should be longer for real tags */
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tag-sidebar-tag {
    padding: 3px;
}

/* username and avi layout for photo components, comments, etc*/
.user-object {
    width: 80%;
    display: grid;
    grid-template-columns: fit-content(200px) 1fr;
    grid-template-rows: auto;
    grid-template-areas:
        "image user"
        "image timestamp"
        "content content";
    grid-gap: 2px;
    margin-bottom: 10px;
    padding: 5px;
    font-size: .9em;
}

.user-object--user {
    grid-area: user;
    display: flex;
    justify-content: start;
    padding-left: 10px;
}

.user-object--timestamp {
    display: flex;
    justify-content: start;
    padding-left: 10px;
    color: #b8b8b8;
    font-size: .75em;
    grid-area: timestamp;
}

.user-object--avi {
    background-color: gray;
    padding: 3px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    grid-area: image;
}

.user-object--content {
    grid-area: content;
    display: flex;
    justify-content: start;
    padding-left: 10px;
}
